
@import url('https://fonts.googleapies.com/css?family=Nunito:400,700&display=swap');

/*------------------------------------------------*/

html, body {
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

/* Mobile */
@media (min-width: 484px){

    .menuButton{
        display: flex;
        background-color: #ffd000;
        border: 0;
        padding: 1.4em 1.2em;
        width: fit-content;
        margin: 8em 0em 4em 0em;
    }

    .menuButton svg {
        margin-right: 0.75em;
        margin-left: 1em;
    }

    .menuButton p {
        margin: 0;
        margin-right: 1em;
        font-size: 2em;
    }

    .container {
        margin: 0;
        display: grid; 
        height: 105em;
        background: linear-gradient(90deg, rgba(145,63,251,0.804359243697479) 0%, rgba(252,70,107,1) 71%);
        justify-content: center;
    }

    .container img {
        width: 25em;
        object-fit: none;
        height: 50em;
    }

    .imageDiv {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .name {
        position: absolute;
        background-color: #ffd000;
        width: 13em;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .name p {
        font-weight: 900;
        font-size: 3em;
        margin-left: .3em;
        color:#272727;
        text-shadow: 1px 1px #443c21;
    }

    .punchLine {
        position: absolute;
        background-color: #ffd000;
        width: 13em;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .punchLine p {
        font-weight: 800;
        font-size: 2em;
        margin-left: .4em;
        color:#272727;
        text-shadow: 1px 1px #443c21;
    }

    .featuredItemsPrice {
        margin: 1em 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffd000;
        width: fit-content;
        padding: 0.5em 3.3em;
        flex-direction: column;
    }

    .price{
        font-weight: 500;
        font-size: 7em;
        margin: 0;
        color:#272727;
        text-shadow: 1px 1px #443c21;
        letter-spacing: 3px;
    }

    .item {
        font-weight: 800;
        font-size: 2em;
        margin: 0;
        color:#272727;
        text-shadow: 1px 1px #443c21;
    }

    .featuredItems {
        margin: 2em 0 0 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
        height: 300px;
        width: 400px;
    }
    
    .featuredItems img {
        padding: 0;
        margin: 0;
        width: 100px;
    }

    .featuredItemsTitle {
        font-weight: 800;
        font-size: 2em;
        margin: 0;
        color:#272727;
        text-shadow: 1px 1px #443c21;
    }

    .featuredItemsText {
        text-align: center;

        font-weight: 500;
        font-size: 1.5em;
        color: #7a7a7a;
        text-shadow: 1px 1px #7a7a7a;
    }
}




/*------------------------------------------------*/

/* Tablets */
@media (min-width: 768px){
    
}

/*------------------------------------------------*/

/* Laptops */
@media (min-width: 991px){
    
}


/*------------------------------------------------*/

/* For visualizing width */

.width-container {
    display: none;
}

.display-width {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E6E6E6;
    padding: .3em;
    padding: .3em;
    font-size: .85em;
    z-index: 2;
}

